* {
  font-family: 'Courier New', Courier, monospace;
  margin: 1;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  display: inline-block;
}

#minha_foto {
  width: 200px;
  padding: 50px;
}

.table {
  width: 100%;
}

#rodape {
  width: 200px;
  background-color: aquamarine;
}

article , aside {
  line-height: 105%;
}

#direita {
  width: 30%;
  display: inline-block;
  padding: 10px;
  border-left: 5px;
}

#esquerda {
  width: 56%;
  height: 600%;
  padding: 50px;
  border-right: 5px;
  display: inline-block;
  margin: 10px;
  border: 10px;
}
